.Buttons{
display: flex;
justify-content: space-evenly;
margin-top: 5px;
}

.Buttons__shopNow {
    border-radius: 2px;

    border: 1px solid;
    margin-top: 10px;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
  }

  .Buttons__WishList {
    border-radius: 2px;
    height: 40px;
    border: 1px solid;
    margin-top: 10px;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;

  }
  .product__Image{
    object-fit:contain;
    width: 100%;
    padding-top: 8%;
  }

  .nextIcon{
    background-color: grey;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }