










/* mobile  */
@media only screen and (min-width:1px) and (max-width:480px){
.LandingBannerMain{
  margin-top:2px;
}
}

/* tablet  */
@media only screen and (min-width:1px) and (max-width: 999px){

}


