




.banner__image{
      height:80vh

}


.banner_image_inner{
    width:100%;
    height:100%
}


.banner__text{
    position: absolute;
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    color:aliceblue;
    font-size: 30px;
    
}

.banner__text__inner{
    text-align: center;
}