


.exploreDinning:hover{
  background:#9f7757 !important;
  color:white
}

.banner__image{
    height:80vh

}


.banner_image_inner{
  width:100%;
  height:100%
}


.banner__text{
  position: absolute;
  
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 30px;
  
}


@media only screen and (min-width:1px) and (max-width:480px){
  #section5Main{
    padding-top: 20px !important;
  }
  .main5fordetail{
    margin-top: 3% !important;
  }
  }
  
  /* tablet  */
  @media only screen and (min-width:1px) and (max-width: 999px){
  
  }
