

.navbar__app{
position: sticky;
left: 0%;
width: 100%;
top: 0%;
z-index: 100;
background-color: #56574f;
}

@media only screen and (min-width:1px) and (max-width:1023px){
    .navbar__app{
       display:none

    }
    .footer{
       display:none

    }

    .mobile__navbar{
        overflow: hidden !important;
 
     }
}

@media only screen and (min-width:1024px) and (max-width:3000px){

    .mobile__navbar{
       display:none

    }

}
